*{
    font-weight: bold;
    font-family: serif;
    font-size: 20px;
    
}

.botoes{
    background-color: azure;
    color: darkblue;
    width: 200px;
    height: 50px;
    
}

body{
  background-image: url("#{resource['imagens/teleco3.jpg']}");
  background-size: 110% auto;
}

#pg1
{
    font-weight: lighter;
    font-family: serif;
    font-size: 35px;
    color: white;
    position: inherit;
   
}


